<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="submission_id">
	{$submission_id_editcontrol}
	</control>
	<control field="programa">
	{$programa_editcontrol}
	</control>
	<control field="date">
	{$date_editcontrol}
	</control>
	<control field="ar_protocol">
	{$ar_protocol_editcontrol}
	</control>
	<control field="sxol_etos">
	{$sxol_etos_editcontrol}
	</control>
	<control field="dide_name">
	{$dide_name_editcontrol}
	</control>
	<control field="sch_name">
	{$sch_name_editcontrol}
	</control>
	<control field="tel_ergasias">
	{$tel_ergasias_editcontrol}
	</control>
	<control field="dimos">
	{$dimos_editcontrol}
	</control>
	<control field="fax">
	{$fax_editcontrol}
	</control>
	<control field="e_mail">
	{$e_mail_editcontrol}
	</control>
	<control field="sch_teachers">
	{$sch_teachers_editcontrol}
	</control>
	<control field="sch_students">
	{$sch_students_editcontrol}
	</control>
	<control field="dieythintis_name">
	{$dieythintis_name_editcontrol}
	</control>
	<control field="klados_dieythinti">
	{$klados_dieythinti_editcontrol}
	</control>
	<control field="program_title">
	{$program_title_editcontrol}
	</control>
	<control field="ar_praksis">
	{$ar_praksis_editcontrol}
	</control>
	<control field="date_praksis">
	{$date_praksis_editcontrol}
	</control>
	<control field="sch_orario">
	{$sch_orario_editcontrol}
	</control>
	<control field="ypeythinos_name">
	{$ypeythinos_name_editcontrol}
	</control>
	<control field="ypeythinos_amm">
	{$ypeythinos_amm_editcontrol}
	</control>
	<control field="ypeythinos_klados">
	{$ypeythinos_klados_editcontrol}
	</control>
	<control field="ypeythinos_wres">
	{$ypeythinos_wres_editcontrol}
	</control>
	<control field="ypeythinos_again">
	{$ypeythinos_again_editcontrol}
	</control>
	<control field="ypeythinos_epimorfosi">
	{$ypeythinos_epimorfosi_editcontrol}
	</control>
	<control field="symetexwn1_name">
	{$symetexwn1_name_editcontrol}
	</control>
	<control field="symetexwn1_amm">
	{$symetexwn1_amm_editcontrol}
	</control>
	<control field="symetexwn1_klados">
	{$symetexwn1_klados_editcontrol}
	</control>
	<control field="symetexwn1_wres">
	{$symetexwn1_wres_editcontrol}
	</control>
	<control field="symetexwn1_again">
	{$symetexwn1_again_editcontrol}
	</control>
	<control field="symetexwn1_epimorfosi">
	{$symetexwn1_epimorfosi_editcontrol}
	</control>
	<control field="symetexwn2_name">
	{$symetexwn2_name_editcontrol}
	</control>
	<control field="symetexwn2_amm">
	{$symetexwn2_amm_editcontrol}
	</control>
	<control field="symetexwn2_klados">
	{$symetexwn2_klados_editcontrol}
	</control>
	<control field="symetexwn2_wres">
	{$symetexwn2_wres_editcontrol}
	</control>
	<control field="symetexwn2_again">
	{$symetexwn2_again_editcontrol}
	</control>
	<control field="symetexwn2_epimorfosi">
	{$symetexwn2_epimorfosi_editcontrol}
	</control>
	<control field="symetexwn3_name">
	{$symetexwn3_name_editcontrol}
	</control>
	<control field="symetexwn3_amm">
	{$symetexwn3_amm_editcontrol}
	</control>
	<control field="symetexwn3_klados">
	{$symetexwn3_klados_editcontrol}
	</control>
	<control field="symetexwn3_wres">
	{$symetexwn3_wres_editcontrol}
	</control>
	<control field="symetexwn3_again">
	{$symetexwn3_again_editcontrol}
	</control>
	<control field="symetexwn3_epimorfosi">
	{$symetexwn3_epimorfosi_editcontrol}
	</control>
	<control field="mathites_synolo">
	{$mathites_synolo_editcontrol}
	</control>
	<control field="agoria">
	{$agoria_editcontrol}
	</control>
	<control field="koritsia">
	{$koritsia_editcontrol}
	</control>
	<control field="amiges">
	{$amiges_editcontrol}
	</control>
	<control field="meet_day">
	{$meet_day_editcontrol}
	</control>
	<control field="meet_hour">
	{$meet_hour_editcontrol}
	</control>
	<control field="meet_place">
	{$meet_place_editcontrol}
	</control>
	<control field="arxeio">
	{$arxeio_editcontrol}
	</control>
	<control field="ypothemata">
	{$ypothemata_editcontrol}
	</control>
	<control field="stoxoi">
	{$stoxoi_editcontrol}
	</control>
	<control field="methodologia">
	{$methodologia_editcontrol}
	</control>
	<control field="syndeseis">
	{$syndeseis_editcontrol}
	</control>
	<control field="month1">
	{$month1_editcontrol}
	</control>
	<control field="month2">
	{$month2_editcontrol}
	</control>
	<control field="month3">
	{$month3_editcontrol}
	</control>
	<control field="month4">
	{$month4_editcontrol}
	</control>
	<control field="month5">
	{$month5_editcontrol}
	</control>
	<control field="episkepseis">
	{$episkepseis_editcontrol}
	</control>
	<control field="submission_date">
	{$submission_date_editcontrol}
	</control>
	<control field="last_modified_date">
	{$last_modified_date_editcontrol}
	</control>
	<control field="ip_address">
	{$ip_address_editcontrol}
	</control>
	<control field="is_finalized">
	{$is_finalized_editcontrol}
	</control>
	<control field="sch_id">
	{$sch_id_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>