<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="sch_id">
	{$sch_id_editcontrol}
	</control>
	<control field="submited">
	{$submited_editcontrol}
	</control>
	<control field="username">
	{$username_editcontrol}
	</control>
	<control field="password">
	{$password_editcontrol}
	</control>
	<control field="sch_code">
	{$sch_code_editcontrol}
	</control>
	<control field="sch_perioxi">
	{$sch_perioxi_editcontrol}
	</control>
	<control field="sch_name">
	{$sch_name_editcontrol}
	</control>
	<control field="sch_dimos">
	{$sch_dimos_editcontrol}
	</control>
	<control field="sch_phone">
	{$sch_phone_editcontrol}
	</control>
	<control field="fax">
	{$fax_editcontrol}
	</control>
	<control field="email">
	{$email_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>