<!doctype html><html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_edit}
<table class="runner-c runner-c-edit" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-editheader {$brickclass_editheader}">Στοιχεία Σχολείων, Edit record [
Sch Id: {$show_key1}
]</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN message_block}
<tr  class="runner-row style1 runner-b-message {$brickclass_message}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" ><div class="runner-message">{$message}</div></td><td class="runner-cr"></td></tr>{END message_block}



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


	{BEGIN sch_id_fieldblock}
	<tr class="runner-toprow header style1 runner-b-editfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_sch_id {$fielddispclass_sch_id}">
				{BEGIN sch_id_label}Sch Id{END sch_id_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_sch_id {$fielddispclass_sch_id}">
				{$sch_id_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"><img src="images/spacer.gif"></td></tr>
{END sch_id_fieldblock}
	{BEGIN submited_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_submited {$fielddispclass_submited}">
				{BEGIN submited_label}Submited{END submited_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_submited {$fielddispclass_submited}">
				{$submited_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END submited_fieldblock}
	{BEGIN username_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_username {$fielddispclass_username}">
				{BEGIN username_label}Username{END username_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_username {$fielddispclass_username}">
				{$username_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END username_fieldblock}
	{BEGIN password_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_password {$fielddispclass_password}">
				{BEGIN password_label}Password{END password_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_password {$fielddispclass_password}">
				{$password_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END password_fieldblock}
	{BEGIN sch_code_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_sch_code {$fielddispclass_sch_code}">
				{BEGIN sch_code_label}Sch Code{END sch_code_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_sch_code {$fielddispclass_sch_code}">
				{$sch_code_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END sch_code_fieldblock}
	{BEGIN sch_perioxi_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_sch_perioxi {$fielddispclass_sch_perioxi}">
				{BEGIN sch_perioxi_label}Sch Perioxi{END sch_perioxi_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_sch_perioxi {$fielddispclass_sch_perioxi}">
				{$sch_perioxi_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END sch_perioxi_fieldblock}
	{BEGIN sch_name_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_sch_name {$fielddispclass_sch_name}">
				{BEGIN sch_name_label}Sch Name{END sch_name_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_sch_name {$fielddispclass_sch_name}">
				{$sch_name_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END sch_name_fieldblock}
	{BEGIN sch_dimos_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_sch_dimos {$fielddispclass_sch_dimos}">
				{BEGIN sch_dimos_label}Sch Dimos{END sch_dimos_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_sch_dimos {$fielddispclass_sch_dimos}">
				{$sch_dimos_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END sch_dimos_fieldblock}
	{BEGIN sch_phone_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_sch_phone {$fielddispclass_sch_phone}">
				{BEGIN sch_phone_label}Sch Phone{END sch_phone_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_sch_phone {$fielddispclass_sch_phone}">
				{$sch_phone_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END sch_phone_fieldblock}
	{BEGIN fax_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_fax {$fielddispclass_fax}">
				{BEGIN fax_label}Fax{END fax_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_fax {$fielddispclass_fax}">
				{$fax_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END fax_fieldblock}
	{BEGIN email_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_email {$fielddispclass_email}">
				{BEGIN email_label}Email{END email_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_email {$fielddispclass_email}">
				{$email_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END email_fieldblock}



{BEGIN legend}
<tr  class="runner-row style3 runner-b-legend {$brickclass_legend}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2><span id="required_block{$id}">
<img src="images/icon_required.gif" alt="bullet"> - Required field
</span>
</td><td class="runner-cr"></td></tr>{END legend}



<tr  class="runner-row style2 runner-b-editbuttons {$brickclass_editbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2>{BEGIN save_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$savebutton_attrs}>Save</a>
</span>
{END save_button}
{BEGIN reset_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$resetbutton_attrs}>Reset</a>
</span>
{END reset_button}
{BEGIN prev_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$prevbutton_attrs}>&nbsp;<<<&nbsp;</a>
</span>
{END prev_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}
{BEGIN next_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$nextbutton_attrs}>&nbsp;>>>&nbsp;</a>
</span>
{END next_button}
</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_edit}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_edit}




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
