<!doctype html><html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_search}
<table class="runner-c runner-c-search" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-srchheader {$brickclass_srchheader}">Στοιχεία Σχολείων - Advanced search
{$CrossElem}</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN conditions_block}
<tr  class="runner-row style1 runner-b-srchconditions {$brickclass_srchconditions}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="runner-radio-button" name="srchType" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="runner-radio-button" name="srchType" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></td><td class="runner-cr"></td></tr>{END conditions_block}



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


<tr class="runner-toprow header style2 runner-b-srchfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc">&nbsp;</td>
	<td class="runner-cc">NOT</td>
	<td class="runner-cc" colspan=3>&nbsp; </td>
<td class="runner-cr"></td></tr>
	{BEGIN sch_id_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_sch_id {$fielddispclass_sch_id}">
				Sch Id
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_sch_id {$fielddispclass_sch_id}">
			<input type="checkbox" {$sch_id_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_sch_id {$fielddispclass_sch_id}">
			{$searchtype_sch_id}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_sch_id {$fielddispclass_sch_id}">
			{$sch_id_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_sch_id {$fielddispclass_sch_id}">
			{$sch_id_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END sch_id_fieldblock}
	{BEGIN submited_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_submited {$fielddispclass_submited}">
				Submited
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_submited {$fielddispclass_submited}">
			<input type="checkbox" {$submited_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_submited {$fielddispclass_submited}">
			{$searchtype_submited}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_submited {$fielddispclass_submited}">
			{$submited_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_submited {$fielddispclass_submited}">
			{$submited_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END submited_fieldblock}
	{BEGIN username_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_username {$fielddispclass_username}">
				Username
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_username {$fielddispclass_username}">
			<input type="checkbox" {$username_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_username {$fielddispclass_username}">
			{$searchtype_username}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_username {$fielddispclass_username}">
			{$username_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_username {$fielddispclass_username}">
			{$username_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END username_fieldblock}
	{BEGIN password_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_password {$fielddispclass_password}">
				Password
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_password {$fielddispclass_password}">
			<input type="checkbox" {$password_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_password {$fielddispclass_password}">
			{$searchtype_password}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_password {$fielddispclass_password}">
			{$password_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_password {$fielddispclass_password}">
			{$password_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END password_fieldblock}
	{BEGIN sch_code_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_sch_code {$fielddispclass_sch_code}">
				Sch Code
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_sch_code {$fielddispclass_sch_code}">
			<input type="checkbox" {$sch_code_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_sch_code {$fielddispclass_sch_code}">
			{$searchtype_sch_code}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_sch_code {$fielddispclass_sch_code}">
			{$sch_code_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_sch_code {$fielddispclass_sch_code}">
			{$sch_code_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END sch_code_fieldblock}
	{BEGIN sch_perioxi_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_sch_perioxi {$fielddispclass_sch_perioxi}">
				Sch Perioxi
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_sch_perioxi {$fielddispclass_sch_perioxi}">
			<input type="checkbox" {$sch_perioxi_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_sch_perioxi {$fielddispclass_sch_perioxi}">
			{$searchtype_sch_perioxi}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_sch_perioxi {$fielddispclass_sch_perioxi}">
			{$sch_perioxi_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_sch_perioxi {$fielddispclass_sch_perioxi}">
			{$sch_perioxi_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END sch_perioxi_fieldblock}
	{BEGIN sch_name_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_sch_name {$fielddispclass_sch_name}">
				Sch Name
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_sch_name {$fielddispclass_sch_name}">
			<input type="checkbox" {$sch_name_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_sch_name {$fielddispclass_sch_name}">
			{$searchtype_sch_name}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_sch_name {$fielddispclass_sch_name}">
			{$sch_name_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_sch_name {$fielddispclass_sch_name}">
			{$sch_name_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END sch_name_fieldblock}
	{BEGIN sch_dimos_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_sch_dimos {$fielddispclass_sch_dimos}">
				Sch Dimos
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_sch_dimos {$fielddispclass_sch_dimos}">
			<input type="checkbox" {$sch_dimos_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_sch_dimos {$fielddispclass_sch_dimos}">
			{$searchtype_sch_dimos}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_sch_dimos {$fielddispclass_sch_dimos}">
			{$sch_dimos_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_sch_dimos {$fielddispclass_sch_dimos}">
			{$sch_dimos_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END sch_dimos_fieldblock}
	{BEGIN sch_phone_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_sch_phone {$fielddispclass_sch_phone}">
				Sch Phone
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_sch_phone {$fielddispclass_sch_phone}">
			<input type="checkbox" {$sch_phone_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_sch_phone {$fielddispclass_sch_phone}">
			{$searchtype_sch_phone}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_sch_phone {$fielddispclass_sch_phone}">
			{$sch_phone_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_sch_phone {$fielddispclass_sch_phone}">
			{$sch_phone_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END sch_phone_fieldblock}
	{BEGIN fax_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_fax {$fielddispclass_fax}">
				Fax
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_fax {$fielddispclass_fax}">
			<input type="checkbox" {$fax_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_fax {$fielddispclass_fax}">
			{$searchtype_fax}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_fax {$fielddispclass_fax}">
			{$fax_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_fax {$fielddispclass_fax}">
			{$fax_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END fax_fieldblock}
	{BEGIN email_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_email {$fielddispclass_email}">
				Email
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_email {$fielddispclass_email}">
			<input type="checkbox" {$email_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_email {$fielddispclass_email}">
			{$searchtype_email}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_email {$fielddispclass_email}">
			{$email_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_email {$fielddispclass_email}">
			{$email_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END email_fieldblock}



<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cr alt"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>



<tr  class="runner-row style2 runner-b-srchbuttons {$brickclass_srchbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >{BEGIN search_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
</span>
{END search_button} 
{BEGIN reset_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$resetbutton_attrs}>Reset</a>
</span>
{END reset_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_search}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_search}


				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
