<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="active">
	{$active_editcontrol}
	</control>
	<control field="trexon_sxol_etos">
	{$trexon_sxol_etos_editcontrol}
	</control>
	<control field="dide">
	{$dide_editcontrol}
	</control>
	<control field="max_wres_ana_programma">
	{$max_wres_ana_programma_editcontrol}
	</control>
	<control field="max_wres_ana_teacher">
	{$max_wres_ana_teacher_editcontrol}
	</control>
	<control field="max_programmata_ana_teacher">
	{$max_programmata_ana_teacher_editcontrol}
	</control>
	<control field="max_ypeythinos">
	{$max_ypeythinos_editcontrol}
	</control>
	<control field="deadline">
	{$deadline_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>