<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		Criteria:&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$all_checkbox}> {BEGIN all_checkbox_label}all{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$any_checkbox}> {BEGIN any_checkbox_label}any{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideControlChooseMenu{$id}" class="runner-button" {$showHideCtrls_attrs}>Add field</a>
		</span>
		&nbsp;&nbsp;&nbsp;
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideSearchType{$id}" class="runner-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
		</span>
	</div>
	
	<!-- choose controls div -->
	<div class="runner-panel controlChooseMenu" {$controlChooseMenuDiv_attrs}>
		{BEGIN addSearch_active}
			<a href="#" id="addSearchControl_active" class="addSearchControl" {$addSearchControl_active_attrs}>Active</a><br>
		{END addSearch_active}
		{BEGIN addSearch_trexon_sxol_etos}
			<a href="#" id="addSearchControl_trexon_sxol_etos" class="addSearchControl" {$addSearchControl_trexon_sxol_etos_attrs}>Trexon Sxol Etos</a><br>
		{END addSearch_trexon_sxol_etos}
		{BEGIN addSearch_dide}
			<a href="#" id="addSearchControl_dide" class="addSearchControl" {$addSearchControl_dide_attrs}>Dide</a><br>
		{END addSearch_dide}
		{BEGIN addSearch_max_wres_ana_programma}
			<a href="#" id="addSearchControl_max_wres_ana_programma" class="addSearchControl" {$addSearchControl_max_wres_ana_programma_attrs}>Max Wres Ana Programma</a><br>
		{END addSearch_max_wres_ana_programma}
		{BEGIN addSearch_max_wres_ana_teacher}
			<a href="#" id="addSearchControl_max_wres_ana_teacher" class="addSearchControl" {$addSearchControl_max_wres_ana_teacher_attrs}>Max Wres Ana Teacher</a><br>
		{END addSearch_max_wres_ana_teacher}
		{BEGIN addSearch_max_programmata_ana_teacher}
			<a href="#" id="addSearchControl_max_programmata_ana_teacher" class="addSearchControl" {$addSearchControl_max_programmata_ana_teacher_attrs}>Max Programmata Ana Teacher</a><br>
		{END addSearch_max_programmata_ana_teacher}
		{BEGIN addSearch_max_ypeythinos}
			<a href="#" id="addSearchControl_max_ypeythinos" class="addSearchControl" {$addSearchControl_max_ypeythinos_attrs}>Max Ypeythinos</a><br>
		{END addSearch_max_ypeythinos}
		{BEGIN addSearch_deadline}
			<a href="#" id="addSearchControl_deadline" class="addSearchControl" {$addSearchControl_deadline_attrs}>Deadline</a><br>
		{END addSearch_deadline}
	</div>
	
	<div class="controlsBlock">
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow" {$filterRow_attrs}>
			<div class="srchPanelCell">{$delCtrlButt}&nbsp;{$fLabel}:&nbsp;</div>
			<div class="srchPanelCell srchPanelCell2">{$searchtype} {$searchcontrol} {$searchcontrol1}</div>
		</div>
		{END searchCtrlBlock}
	</div>
		
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
		</span>
	</div>
</div>
